/* Commoon shared styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.primary-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    border: 0;
    border-radius: 3px;
    background: #E55473;
}

span {
    color: #E55473;
}

/* Header Styles */

/* .header-content {
    width: 600px;
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
    padding: 30px 30px 0 150px;
    padding-left: 150px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header .header-img {
    width: 450px;
    margin-right: 150px;
    /* margin-top: 100px; */
}

/* Main section styles */

/* Featured section style */
.primary-section-heading {
    text-align: center;
    margin-bottom: 20px;
}

.primary-section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.primary-section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
}

.featured-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 50px 250px;
    margin-bottom: 10%;
}

/* Featured content */

.featured-content-1 {
    background-color: #F2DEE7;
    border-radius: 100px 100px 0 0;
    border-top-left-radius: 40%;
    text-align: center;
    height: 350px;
    width: 250px;
}

.featured-content-2 {
    background-color: #D9EFF1;
    border-radius: 100px 100px 0 0;
    text-align: center;
    height: 350px;
    width: 250px;
}

.featured-content-3 {
    background-color: #E3EBDB;
    border-radius: 100px 100px 0 0;
    /* border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
    border-top-left-radius: 40%;
    text-align: center;
    height: 350px;
    width: 250px;
}

/* Flower items */
.flower-item1 {
    width: 70%;
    padding: 109px 15px 20px 30px;
}

.flower-item2 {
    width: 97%;
    padding: 107px 10px 20px 30px;
}

.flower-item3 {
    width: 70%;
    padding: 88px 12px 20px 30px;
}

.small-text {
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration-line: underline;
}

/* Our service styles */
.our-service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 5px;
    padding: 40px 150px;
    margin: 80px 250px;
}

.service-logo {
    width: 50px;
    padding-left: 60px;
}

.service-logo-3rd {
    width: 50px;
    padding-left: 25px;
}

.service-text {
    font-size: 12px;
    align-items: center;
    font-weight: bold;
}

/* Hot Deal Section*/
.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEF6F8;
    padding: 30px 200px;
    margin: 80px 0;
}

.hot-deal-title {
    color: #272727;
    font-size: 25px;
    font-weight: 800;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10pxs;
}

.sign-up-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    border: 0;
    border-radius: 3px;
    background: #E55473;
    margin-left: 100px;
}

.hot-deal-img {
    width: 250px;
}

/* Social Platform */
.flowers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    margin: 0 150px;
}

/* .flowers-box {
    padding: 50px 0px;
} */

.box {
    width: 200px;
}